.sepasi{
    background-color: #292a2b;
  }
  .baris2{
    background-color: #17A2B8;
  }
  .baris3{
    background-color: #28A745;
  }
  .baris4{
    background-color: #FFC107;
  }
  .baris5{
    background-color: #DC3545;
  }
